:root {
  --color-text1: white;
  --color-bg: #4a382a;
  --color-bg2: #dcd2c9;

  --color-hightlight: rgb(200, 170, 1);
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--color-bg);
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.hero {
  margin: 0 auto;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*  HEADER  */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/images/hero\ pic.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--color-text1);
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
.button1 {
  background-color: var(--color-text1);
  color: var(--color-bg);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
}
.button1:hover {
  color: var(--color-hightlight);
  transition: all 200ms ease-in-out;
}
@media (max-width: 576px) {
  header {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  header h3 {
    font-size: 12px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
}
/*  MAIN  (why PANAMA)*/
main {
  background-color: var(--color-text1);
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 10px 0;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
h2 small {
  font-size: 26px;
  line-height: 0;
}
.filter {
  filter: contrast(110%);
}
.page-panama {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  padding: 100px;
  color: var(--color-bg);
}
.page-panama .box p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .page-panama {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 30px;
  }
  .page-panama .box h3 {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
    letter-spacing: 5px;
  }
  .page-panama .box h2 {
    font-size: 40px;
    line-height: 1;
    margin: 0;
  }
  .page-panama .box h2 small {
    font-size: 20px;
  }
  .page-panama .box p {
    font-size: 12px;
    line-height: 1.2;
    margin-top: 30px;
  }
}
/*  MAIN  (table)*/
.table-section {
  padding: 100px;
  padding-top: 0;
}
.table-container {
  color: var(--color-bg);
  overflow-x: auto;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table {
  color: var(--color-bg);
  width: 100%;
}
th {
  background-color: var(--color-bg);
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #382a1f; /* Slightly darker shade for a shadow effect */
}
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f1f1f1;
}
@media (max-width: 576px) {
  .table-section {
    padding: 30px;
    padding-top: 0;
  }
  .table-container h2 {
    font-size: 18px;
    padding: 10px 30px;
  }
  .table-container th {
    font-size: 14px;
  }
  .table-container td {
    font-size: 10px;
  }
}
/*  MAIN  (cafes)*/
main .brunch {
  background-color: var(--color-bg2);
  color: var(--color-bg);
  padding: 100px;
}
.columns3-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.brunch h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  opacity: 0.3;
}
.brunch h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
.columns3-grids h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  padding-top: 48px;
}
.columns3-grids p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.7;
}
.columns3-grids h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
}
.button2 {
  background-color: var(--color-hightlight);
  color: var(--color-bg);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
}
.button2:hover {
  color: var(--color-text1);
  transition: all 200ms ease-in-out;
}
.columns2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
@media (max-width: 576px) {
  main .brunch {
    padding: 30px;
  }
  .columns3-grids {
    grid-template-columns: 1fr;
  }
  .brunch h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .brunch h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .columns3-grids h4 {
    padding-top: 20px;
  }
  .columns3-grids p {
    font-size: 11px;
  }
  .columns3-grids h5 {
    font-size: 12px;
  }
  .columns2-grid {
    grid-template-columns: 1fr;
  }
  .brunch img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
.gallery {
  padding: 100px;
}
.gallery h2 {
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  main .gallery {
    padding: 30px;
  }
  .gallery h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .gallery h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .gallery .columns3-grids {
    grid-template-columns: 1fr;
  }
}

/*  FOOTER  */
footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 100px;
  grid-gap: 64px;
  color: var(--color-text1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/footer\ pic.jpg);
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}
footer a {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
  color: var(--color-text1);
}
@media (max-width: 576px) {
  footer {
    grid-template-columns: 1fr;
    padding: 30px;
    grid-gap: 30px;
  }
  footer h3 {
    font-size: 14px;
    line-height: 25px;
  }
  footer p {
    font-size: 12px;
    line-height: 20px;
  }
  footer a {
    font-size: 12px;
    line-height: 20px;
  }
}
